
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>add</title>
</head>
<body>
    <div>
        <form method="post" action="@Url.Action("adddata","Student")">
            姓名：<input type="text"name="sname" />
            <input type="submit" value="确定" />
        </form> 
    </div>
</body>
</html>
