
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>add</title>
</head>
<body>
    <div> 
        <form method="post" action="/List/AddData">
            编号：<input type="text" name="uid" />
            名称：<input type="text" name="uanme" />
            地址：<input type="text" name="uaddress" />
            <input type="submit" value="确定" />
        </form>
    </div>
</body>
</html>
