
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <table>
          <tr>
              <th>编号</th><th>名称</th><th>地址</th><th>编辑</th><th>删除</th>
          </tr>
            @foreach (var item in Model )
            {
                <tr><td>@item.id</td><td>@item.name</td><td>@item.address</td><td><a href="/List/edit/@item.id">编辑</a></td><td><a href="/List/delete/@item.id">删除</a></td></tr>
            }
        </table>
       <a href="List/Add">添加</a>
    </div>
</body>
</html>
