
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @*<div style="width:300px;height:200px;margin:0 auto;background-color:blanchedalmond;text-align:center;">
         <h2 style="margin:0 auto">登录</h2><br />
        用户名：<input type="text"name="name" /><br/>
        密  码：<input type="text" name="pwd" /><br />
        <input type="submit" value="登录" />
    </div>*@
    <h2>index界面</h2>
</body>
</html>
